body {
  margin: 0;
  padding: 0;
  min-height: 110vh;
  position: relative;

  font-family: Helvetica, sans-serif;
}

header {
  background-color: #b2bf2c;
  width: 100%;
  height: 12em;
  display: flex;
}

/* Logo of the Regio App*/
#logo {
  margin-top: 2.2em;
  margin-left: 13%;
  margin-bottom: 2.2em;
  height: 7.5em;
  width: 8em;
  background-size: cover;
  float: left;
}

/* Navigation*/
.navi {
  margin-top: 7.6em;
  margin-left: 1.5em;
  float: left;
}

a {
  text-decoration: none;
  color: #e0e4ae;
  font-size: 1em;
  margin-right: 3em;
}

a:hover {
  color: white;
}
/*To the Top Button*/
#btnScrollToTop{
  position: fixed;
  right: 10%;
  bottom: 9%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #b2bf2c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: rgb(215, 2, 40);
  border:none;
  outline: none;
  cursor: pointer;
}
#btnScrollToTop:active {
  background: #a5ad2c;
}

/* Collaps-Navi*/
.icon {
  display: none;
  font-size: 3em;
}

/* If width is bellow 70em*/
@media screen and (max-width: 70em) {
  .navi {
    margin-top: 6em;
    margin-left: 1.5em;
    float: left;
  }

  .navi a:not(:first-child) {
    display: none;
  }
  .navi a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 70em) {
  .navi.responsive {
    position: relative;
  }
  .navi.responsive .icon {
    transition: ease-in-out all 300ms;
    padding: 0;
    border-top: none;
  }
  .navi.responsive a {
    float: none;
    display: block;
    text-align: left;
    border-top: solid 0.1em white;
    padding: 1em;

    background-color: #b2bf2c;
  }
}

/* Logo for BMEL*/
#bmel {
  height: 8em;
  margin-left: 1em;
}

/*button link*/
#link-button-image {
  margin-top: 1.8em;
  margin-left: auto;
  order: 2;
  min-width: 20em;
  height: 8em;
}

#link-button-image img {
  border: 0.1em solid white;
  border-radius: 1em;
}

#link-image {
  margin-top: 1.3em;
  height: 5em;
  width: 5em;
}

.a_get {
  margin: 0;
}

@media screen and (max-width: 48em) {
  #bmel {
    display: none;
  }

  #link-button-image {
    margin-top: 1.8em;
    margin-left: auto;
    order: 2;
    min-width: 0;
    height: 8em;
  }
}

/* Add a red background color to the top navigation bar */
.search {
  overflow: hidden;
  width: 100%;
  background-color: rgb(215, 2, 40);
}

.example {
  margin-left: 12%;
}

.input_search {
  margin: 1em;
  width: 25em;
  background-color: white;
  border-style: solid;
  border-color: gray;
  border-radius: 1em 1em 1em 1em;
  float: left;
}

.input_search:hover {
  border-color: black;
  box-shadow: 0.6em 2em 2em -0.6em rgb(0, 0, 0, 0.2);
}

/* Where-Search*/
#search_where {
  width: 36%;
  min-width: 25em;
  display: flex;
}

.search_tool {
  margin: 0.6em;
}

/* Search*/
input {
  margin: 0.6em;
  float: right;
  border: none;
  outline: none;

  width: 16.8em;
  font-size: 1.25em;
}

#input_where {
  display: inline-block;
  width: 88%;
}

/* Cancel-Button for Searching*/
input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  position: relative;
  right: 0.4em;
  height: 1.25em;
  width: 1em;
  padding-right: 0.25em;
  background: url("https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg");
  background-size: cover;
}

/* Content with Picture-Buttons*/
.content {
  width: 100%;
  height: 50em;
  padding-bottom: 5em;
}

.block {
  width: 90%;
  height: 24em;
}

button {
  background-color: white;
  box-sizing: border-box;
  border: none;
  outline: none;
  width: 100%;
  height: 95%;

  transition: ease-in-out all 300ms;
}

/*Black Segregation between buttons*/
.segregation {
  background-color: black;
  width: 100%;
  height: 0.1em;
}

/* First Picture in Content*/
.pic1 {
  background-color: white;
  height: 69%;
  width: 80%;
  background-size: cover;
}

/* Second Picture in Content*/
.pic2 {
  background-color: white;
  height: 80%;
  width: 80%;
  background-size: cover;
}

/* Container of all shop of list*/
#list_shop {
  padding-bottom: 6em;
}

/* Container for list & map*/
.list_map_container {
  width: 100%;
  overflow: hidden;
  background-color: #f4f4f4;
}

/* Button for list & map*/
.list_map_button {
  margin: 1em;
  height: 3em;
  width: 30.5em;
  border-style: solid;
  border-color: #cccdcf;
  cursor: pointer;
  border-radius: 0.7em 0.7em 0.7em 0.7em;
}

/* List button*/
#map_button {
  background-color: #f4f4f4;
  color: #b2bf2c;
}

/* Map button*/
#list_button {
  background-color: #cccdcf;
}

@media screen and (max-width: 63.3em) {
  /* Button for list & map*/
  .list_map_button {
    margin: 1em;
    margin-right: 1em;
    height: 3em;
    width: 13em;
    border-style: solid;
    border-color: #cccdcf;
    cursor: pointer;
    border-radius: 0.7em 0.7em 0.7em 0.7em;
  }

  /* List button*/
  #map_button {
    background-color: #f4f4f4;
    margin-left: 2em;
  }
}

#map_button:hover {
  background-color: #fcfcfc;
}

#list_button:hover {
  background-color: #ddd;
  border-color: #ddd;
}

/* Categories*/
#categories {
  margin-left: 11%;
  padding-bottom: 7em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Caption under Pictures*/
figcaption {
  text-align: center;
  color: black;
}

/* Category-Pictures*/
#category_picture {
  margin-left: auto;
  margin-right: auto;
  width: 12em;
  height: 12em;
}

/* NEWS*/
#news {
  margin-top: 3em;
  padding-bottom: 7em;
  margin-left: 13%;
}

/* Loader before the server answers*/
.loader {
  margin: 10em auto;
  font-size: 2.4em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  text-align: center;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #000000,
      1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2),
      1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2),
      -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.5),
      -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.7),
      1.8em -1.8em 0 0em #000000, 2.5em 0em 0 0em rgba(0, 0, 0, 0.2),
      1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2),
      -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2),
      -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.5),
      1.8em -1.8em 0 0em rgba(0, 0, 0, 0.7), 2.5em 0em 0 0em #000000,
      1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2),
      -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2),
      -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2),
      1.8em -1.8em 0 0em rgba(0, 0, 0, 0.5), 2.5em 0em 0 0em rgba(0, 0, 0, 0.7),
      1.75em 1.75em 0 0em #000000, 0em 2.5em 0 0em rgba(0, 0, 0, 0.2),
      -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2),
      -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2),
      1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.5),
      1.75em 1.75em 0 0em rgba(0, 0, 0, 0.7), 0em 2.5em 0 0em #000000,
      -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2),
      -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2),
      1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2),
      1.75em 1.75em 0 0em rgba(0, 0, 0, 0.5), 0em 2.5em 0 0em rgba(0, 0, 0, 0.7),
      -1.8em 1.8em 0 0em #000000, -2.6em 0em 0 0em rgba(0, 0, 0, 0.2),
      -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2),
      1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2),
      1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.5),
      -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.7), -2.6em 0em 0 0em #000000,
      -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2),
      1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2),
      1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2),
      -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.5), -2.6em 0em 0 0em rgba(0, 0, 0, 0.7),
      -1.8em -1.8em 0 0em #000000;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #000000,
      1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2),
      1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2),
      -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.5),
      -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.7),
      1.8em -1.8em 0 0em #000000, 2.5em 0em 0 0em rgba(0, 0, 0, 0.2),
      1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2),
      -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2),
      -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.5),
      1.8em -1.8em 0 0em rgba(0, 0, 0, 0.7), 2.5em 0em 0 0em #000000,
      1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2),
      -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2),
      -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2),
      1.8em -1.8em 0 0em rgba(0, 0, 0, 0.5), 2.5em 0em 0 0em rgba(0, 0, 0, 0.7),
      1.75em 1.75em 0 0em #000000, 0em 2.5em 0 0em rgba(0, 0, 0, 0.2),
      -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2),
      -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2),
      1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.5),
      1.75em 1.75em 0 0em rgba(0, 0, 0, 0.7), 0em 2.5em 0 0em #000000,
      -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.2), -2.6em 0em 0 0em rgba(0, 0, 0, 0.2),
      -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2),
      1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2),
      1.75em 1.75em 0 0em rgba(0, 0, 0, 0.5), 0em 2.5em 0 0em rgba(0, 0, 0, 0.7),
      -1.8em 1.8em 0 0em #000000, -2.6em 0em 0 0em rgba(0, 0, 0, 0.2),
      -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2),
      1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2),
      1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.5),
      -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.7), -2.6em 0em 0 0em #000000,
      -1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 0, 0.2),
      1.8em -1.8em 0 0em rgba(0, 0, 0, 0.2), 2.5em 0em 0 0em rgba(0, 0, 0, 0.2),
      1.75em 1.75em 0 0em rgba(0, 0, 0, 0.2), 0em 2.5em 0 0em rgba(0, 0, 0, 0.2),
      -1.8em 1.8em 0 0em rgba(0, 0, 0, 0.5), -2.6em 0em 0 0em rgba(0, 0, 0, 0.7),
      -1.8em -1.8em 0 0em #000000;
  }
}

/* If Geolocation is off*/
.error_div {
  margin-left: 13%;
  margin-top: 2%;
}

/* Figure for shop list*/
.fig_for_shop_list {
  margin: unset;
}

/* Figure for places*/
.fig_for_shop_list1 {
  margin: unset;
}

.list_containerWhere {
  border-bottom: 0.1em solid black;
}

/*container where search*/
.list_buttonWhere{
  cursor: pointer;
  width: 90%;
}

/*text where search*/
.textWhere{
  text-align: left;
  font-size: 1.3em;
  margin-left: 13%;
}

.server_input {
  padding-bottom: 5em;
}

/* List of buttons with shops*/
.shops {
  padding: 2em;
  padding-bottom: 1em;
  border-bottom: 0.1em solid;

  display: flex;
  cursor: pointer;
}

/* Last shop-button without border */
#last_shop {
  padding: 2em;
  padding-bottom: 1em;
  border: none;

  display: flex;
  cursor: pointer;
}

/* Name, adress & products of the shops*/
.list_container {
  text-align: left;
  margin-top: -0.5em;
  margin-left: 12%;
  min-width: 24em;

  color: #333;
  float: left;
}

/* Div for the images of shops*/
.image_div {
  min-height: 10em;
  height: 10em;
  min-width: 10em;
  width: 10em;

  margin-left: 7%;
  margin-right: 4%;
}

/* Div for the certification of shops*/
.certification_div {
  min-height: 10em;
  height: 10em;
  min-width: 10em;
  width: 10em;

  margin-left: 1%;
  margin-right: 4%;
}

/* Remove certification of shop if window is under 60em*/
@media screen and (max-width: 60em) {
  .certification_div {
    display: none;
  }
}

/* Remove image of shop if window is under 60em*/
@media screen and (max-width: 46em) {
  .image_div {
    display: none;
  }
}

/* Div for the km and icon of shops*/
.div_for_km_icon {
  min-height: 10em;
  height: 10em;
  min-width: 10em;
  width: 10em;

  float: right;
  margin-right: 70%;
  order: 2;
  margin-left: auto;
}

/* Image of shops if shop is open*/
.image_of_shops_is_open {
  margin-right: 0.7em;
}

/* Image of shop has lieferservice */
.image_of_shops_has_lieferservice {
  margin-left: 0.7em;
  height: 1.4em;
  width: 2em;
}

/* Icon for Distance*/
.ui-icon-arrow-r {
  width: 40%;
  height: 40%;
  object-fit: contain;
}

/* Logo, Certification of shops*/
.img_certification,
.img_of_shops {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Div for Map (Map of all shops)*/
.map_divBig {
  margin-top: 2em;
  margin-left: 12.6%;
  margin-right: 12.6%;
  padding-bottom: 7em;
  width: 74.8%;
  height: 60em;
}

/* Link for Marker in Map*/
#marker_link {
  color: #38c;
  text-decoration: underline;
}

#marker_link:hover {
  color: rgb(11, 83, 146);
}

/* Div for Map (Profil)*/
.map_div {
  margin-top: 2em;
  margin-left: 13%;
  margin-right: 13%;
  width: 74%;
  height: 15em;
}

.selected_shop_content {
  padding-bottom: 5em;
}

/* Map (Profil)*/
#map {
  width: 100%;
  height: 100%;
  border: #b2bf2c 0.1em solid;
}

/* Navigation button (Profil)*/
.navigation {
  margin-left: 13%;
  margin-top: 1em;
  margin-bottom: -1em;
  width: 10em;
  border: #b2bf2c 0.1em solid;
  display: inline-block;
  cursor: pointer;
}

/* Navigation icon (Profil)*/
.navigation_icon {
  width: 3em;
  height: 3em;
  float: left;
}

/* Navigation text (Profil)*/
.navigation_text {
  margin-left: 1em;
  float: left;
}

#segregation_map {
  margin-top: 1em;
}

/* Adress block and Heading (Profil)*/
.profil_adress_div {
  margin-right: 2.5em;
  float: left;
}

/* Div for picture_div's (Profil)*/
#profil_img_div {
  margin-left: 13%;
  margin-right: 13%;
  display: inline-block;
}

/* Div of lightbox (Profil) */
#lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.9);
}

#lightbox_content {
  margin-left: 13%;
  margin-right: 13%;
}

/* Classes in lightbox (Profil) */
.shopImagediv {
  display: none;
  text-align: center;
}

/* The Close Button (Profil) */
.close {
  color: white;
  position: absolute;
  top: 0.5em;
  right: 1em;
  font-size: 3em;
  font-weight: bold;
}

/* Close button hover (Profil)*/
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Next & previous buttons (Profil) */
.prev,
.next {
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: auto;
  padding: 0.3em;
  margin-top: -2em;
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "prev button" to the left (Profil)*/
.prev {
  left: 1em;
}

/* Position the "next button" to the right (Profil)*/
.next {
  right: -2em;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through (Profil)*/
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Lightbox profil (Profil)*/
.profil_logo_lightbox,
.profil_pictures_lightbox {
  object-fit: contain;
  vertical-align: middle;
  max-width: 90%;
  margin-top: 5%;
  max-height: 50em;
}

/* Set pointer as curser (Profil)*/
.profil_logo,
.profil_pictures {
  cursor: pointer;
}

@media screen and (max-width: 40em) {
  #profil_img_div {
    margin-left: 13%;
    margin-right: 0%;
    display: inline-block;
  }
}

/* Logo, Pictures of shop, verbandsInfo images (Profil)*/
.profil_logo,
.profil_pictures,
.verbandInfo_img {
  min-height: 11em;
  height: 11em;
  min-width: 11em;
  width: 11em;
  margin-top: 2em;
  margin-right: 1.9em;
  border: #b2bf2c 0.1em solid;
  object-fit: contain; 
  float: left;
}

/* Adressblock style (Profil)*/
#adressblock {
  display: inline-block;
  width: 87%;
  margin-left: 13%;
}

/* Contact block (Images) (Profil)*/
.containerImage {
  margin-top: 2.8em;
  float: left;
}

/* Contact images (Profil)*/
#imageTele,
#imagefax,
#imageMail,
#imageHomepage,
#imageFacebook {
  min-height: 1em;
  height: 1em;
  min-width: 1em;
  width: 1em;
  object-fit: contain;
  display: inline-block;
}

/* Contact text (Profil)*/
.contact_field {
  display: inline-block;
  margin-left: 0.5em;
}

/* Links of contact field (Profil)*/
#tele1,
#tele2,
#fax,
#mail,
#homepage,
#facebook {
  color: black;
  text-decoration: underline;
  font-weight: 500;
}

/* Telefon2 (Profil)*/
#tele2 {
  margin-left: 1.8em;
}

/* Container for AboutUs, openTime, specials, product info, certification, verbandInfo_div, responsible_div (Profil)*/
.aboutShop,
.openTime,
.spezi_div,
.productInfo_div,
.sponsor_div,
.certi_div,
.verbandInfo_div,
.responsible_div {
  margin-left: 13%;
  margin-right: 13%;
}

/*Title of Profil*/
.title {
  color: #b2bf2c;
}

/* Owner of shop (Profil)*/
#inhaber {
  margin-bottom: 0.5em;
}

/* Text above time (Profil)*/
#openTimeText {
  margin-bottom: 1em;
}

/* Blocks for open time (Profil)*/
.day_name {
  display: inline-block;
  border-bottom: solid 0.1em black;
  width: 25em;
}

/* Days, text to producer, text to verbandInfo (Profil)*/
.day_text,
#producer_name,
#verbandInfo_name,
#verbandInfo_text {
  float: left;
}

/* Insert: If open or not & text to producer verbandInfo (Profil)*/
.day,
#producer_text {
  float: right;
}

/* Open Time Number: 2*/
#Mo2, #Di2, #Mi2, #Do2, #Fr2, #Sa2, #So2 {
  margin-left: 4em;
}

/* Open Time text (Profil)*/
.producer_headline {
  display: inline-block;
  margin-top: -1em;
}

/* Products with shops (Profil)*/
#productInfo {
  margin-top: -1em;
}

/* Set in Profil*/
h4 {
  margin-bottom: 0.5em;
  color: #b2bf2c;
}

/* Link of shops (Profil)*/
.productInfo_shops {
  color: black;
  width: 25em;
  display: block;
}

.productInfo_shops:hover {
  color: black;
}

/*Certification image (Profil)*/
.certi_img {
  min-height: 11em;
  height: 11em;
  min-width: 11em;
  width: 11em;
  margin-top: 2em;
  margin-right: 1.9em;
  border: #b2bf2c 0.1em solid;
  object-fit: contain; 

  display: inline-block;
}

/* Text to headline for VerbandsInfo, verbandInfo div and responsible_div (Profil)*/
.verbandInfo_headline,
#verbandInfo,
.responsible_div {
  display: inline-block;
}

/* Figure for url of verbandInfo-pictures (Profil)*/
.fig_verbandInfo {
  float: left;
  margin: 0;
  margin-right: -3em;
  margin-top: -1.5em;
}

.responsible_div {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* Responsible sentence (Profil)*/
#responsible_name_1,
#responsible_text,
#responsible_name_2 {
  float: left;
}

/*Make responsible_name_2 thick (Profil)*/
#responsible_name_2 {
  font-weight: 600;
}

/* Segregation (Profil)*/
.segregation_profil {
  margin-top: 2em;
  margin-left: 5%;
  margin-right: 5%;
  height: 0.2em;
  background-color: #b2bf2c;
}

/* Where-Search elements*/
.button_for_position {
  width: 100%;
  height: 7em;
  cursor: pointer;
  border-bottom: 0.1em solid black;
}

.button_input {
  text-align: left;
  font-size: 1.3em;
  margin-left: 13%;
}

.button_pic {
  width: 3em;
  height: 3em;
  float: left;
}

.button_text {
  margin-left: 1em;
  float: left;
}

/* Impressum etc.*/
.bottom {
  bottom: 0;
  position: absolute;
  height: 5em;
  width: 100%;
  box-sizing: border-box;
  background-color: #b2bf2c;
  text-align: center;
  padding-top: 1.2em;
}

.contentImpressum {
  padding-bottom: 7em;
}

/* ImpressumPage style*/
.blockImpressum{
  text-align: center;
}

#impressumText3{ 
  display:inline-block; 
}

#linkImpr{
  color: rgb(215, 2, 40);
}

#headlineImp{
  color: rgb(215, 2, 40);
  text-align:center;
}

.contentContact {
  padding-bottom: 7em;
}

/* ContactPage style*/
.blockContact{
  display: inline-block; 
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 2%;
}

#contactText3{ 
  text-align: left;
  margin-bottom: 0.5%;
}

#contactText2{ 
 text-align: left;
  margin-bottom: 2%;
}

#contactText1{ 
  margin-bottom: 2%;
}

#linkCont{
  color: rgb(215, 2, 40);
  text-align: left;
  display:inline-block; 
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 2%;
}

#headlineImp{
  color: rgb(215, 2, 40);
  text-align: center;
}

/* Data protection */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.datenschutzerklaerung {
  text-align: left;
  padding-bottom: 7em;
  line-height: 1.42857143;
  font-family: "Lato", sans-serif;
  font-size: 0.9em;
}

.datenschutzerklaerung h1 {
  color: rgb(215, 2, 40);
  text-align: center;
}

#container-div {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

#container-div a {
  color: rgb(215, 2, 40);
  margin: 0;
}

/* Dabei sein */
.main-cont-dabeiSein {
  text-align: center;
  margin-top: 5em;
  padding-bottom: 7em;
  line-height: 1.42857143;
}
.main-cont-dabeiSein p {
  font-size: 1em;
}
.main-cont-dabeiSein h1 {
  color: rgb(215, 2, 40);
  font-size: 2em;
}
#text-dabeiSein a {
  color: rgb(215, 2, 40);
  margin: 0;
}

/* Partners (Info)*/
#partners-title {
  text-align: center;
  color: rgb(215, 2, 40);
  margin-top: 4em;
}

#partners {
  display: block;
  text-align: center;
}

.mobile {
  display: inline-flex;
}

#mobile-img {
  height: 30em;
}

.info_content {
  padding-bottom: 7em;
}

#partners-img {
  margin-left: 2em;
  padding-bottom: 7em;
}

@media screen and (max-width: 70em) {
  #partners-img {
    margin-left: 2em;
    padding-top: 3em;
    height: 6em;
  }
}

.text-partners_div {
  text-align: center;
}

#text-partners {
  text-align: center;
  font-size: 1em;
  display: inline-block;
}

/* regionales finden*/
.content-regionales-finden {
  padding-bottom: 7em;
  display: flex;
  flex-wrap: wrap;
}

.content-regionales-finden h1{
  color: rgb(215, 2, 40);
}

#regionaleFinden2{
  display: block;
  height: 40em;
  margin-top: 4em;
  margin-bottom: 4em;
  margin-left: 2em;
}

#regFind-div1 {
  font-size: 1em;
  display: block;
  padding-top: 10em;
  margin-left: 13%;
  line-height: 1.42857143;
}

#regFind-div2 img{
  height: 12em;
  padding-top: 2em;
  margin-right: 2.2em;
}

#regFind-div2 {
  font-size: 1em;
  line-height: 1.42857143;
  padding-top: 10em;
  display: block;
  margin-left: 5em;
}